<!DOCTYPE html>
<html lang="en" style="font-size: 16px">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <title>启迪-罗湖双创赛比分公示系统 成绩管理</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary" id="nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">成绩管理</span>
    </div>
  </nav>

  <div class="container mt-3">
    <p class="text-center fs-1">成绩管理</p>

    <button type="button" class="btn btn-primary" id="import">导入</button> 
    <input type="file" class="d-none" id="importTrigger" accept=".xlsx" />

    <div id="detail" class="mt-5">
      <ul class="nav nav-tabs justify-content-center" id="detailTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="preliminaryContestTab" data-bs-toggle="tab" data-bs-target="#preliminaryContest" type="button" role="tab" aria-controls="preliminaryContest" aria-selected="true">初赛成绩</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="semifinalsContestTab" data-bs-toggle="tab" data-bs-target="#semifinalsContest" type="button" role="tab" aria-controls="semifinalsContest" aria-selected="false">复赛成绩</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="finalsContestTab" data-bs-toggle="tab" data-bs-target="#finalsContest" type="button" role="tab" aria-controls="finalsContest" aria-selected="false">决赛成绩</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="preliminaryContest" role="tabpanel" aria-labelledby="preliminaryContestTab">
          <table class="table table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">项目ID</th>
                <th scope="col">组别</th>
                <th scope="col">项目名称</th>
                <th scope="col">平均分</th>
                <th scope="col">赛道排名</th>
                <th scope="col">晋级结果</th>
              </tr>
            </thead>
      
            <tbody id="list1"></tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="semifinalsContest" role="tabpanel" aria-labelledby="semifinalsContestTab">
          <table class="table table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">项目ID</th>
                <th scope="col">组别</th>
                <th scope="col">项目名称</th>
                <th scope="col">平均分</th>
                <th scope="col">赛道排名</th>
                <th scope="col">晋级结果</th>
              </tr>
            </thead>
      
            <tbody id="list2"></tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="finalsContest" role="tabpanel" aria-labelledby="finalsContestTab">
          <table class="table table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">项目ID</th>
                <th scope="col">组别</th>
                <th scope="col">项目名称</th>
                <th scope="col">平均分</th>
                <th scope="col">赛道排名</th>
                <th scope="col">奖项</th>
              </tr>
            </thead>
      
            <tbody id="list3"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/management.js"></script>
</body>
</html>